@use "./../helpers" as *;

.footer {
  background-color: var(--background-dark);

  &__content {
    width: min(100%, pxToRem(1100));
    margin-inline: auto;
    padding: pxToRem(20);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: pxToRem(40);

    @include breakpoint-up("medium") {
      flex-direction: row;
      justify-content: space-between;
      padding: pxToRem(50);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(15);

    @include breakpoint-up("medium") {
      flex-direction: row;
      gap: pxToRem(20);
    }
  }

  &__link {
    color: var(--clr-white);
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}
