@use "./../helpers" as *;

.build {
  text-align: center;

  @include breakpoint-up("medium") {
    text-align: left;

    &__image {
      img {
        margin-inline: initial;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: pxToRem(30);

    @include breakpoint-up("medium") {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__image {
    img {
      margin-inline: auto;

      @include breakpoint-up("medium") {
        margin-inline: initial;
        height: auto;
      }
    }
  }
}
