@use "./../helpers" as *;

.hero {
  text-align: center;
  display: grid;

  @include breakpoint-up("medium") {
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto pxToRem(180) auto;

    &__heading {
      grid-column: 1 / 3;
    }

    &__description {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__cta {
      grid-row: 3/ 4;
      align-self: start;
    }

    &__image {
      grid-column: 2/ 4;
      grid-row: 2 / 4;
    }
  }

  @include breakpoint-up("large") {
    grid-template-rows: auto pxToRem(130) auto;
  }

  &__image {
    margin-top: pxToRem(30);

    @include breakpoint-up("medium") {
      margin-top: 0;
      margin-left: pxToRem(20);
    }
  }

  &__description {
    padding: pxToRem(10) 0 pxToRem(25) 0;

    @include breakpoint-up("medium") {
      padding: 0;
    }
  }

  &__cta {
    @include button;
    @include button-cta(var(--clr-red), var(--clr-white));
    justify-self: center;

    @include breakpoint-up("medium") {
      justify-self: start;
    }
  }
}
