@use "./../helpers" as *;

.testimonial {
  text-align: center;
  overflow: hidden;
  position: relative;

  @include breakpoint-up("medium") {
    text-align: left;
  }

  &__content {
    text-align: left;
    width: min(100% - 20, pxToRem(600));
    margin-inline: auto;
    position: relative;
    display: flex;
    transition: all 0.1s ease;
  }

  &__item {
    flex: 1 0 100%;
    opacity: 0;

    &.opacity {
      opacity: 1;
    }
  }

  &__description {
    margin-bottom: pxToRem(20);

    @include breakpoint-up("medium") {
      margin-bottom: pxToRem(40);
    }
  }

  &__who {
    font-size: pxToRem(18);
    font-weight: 700;
  }

  &__company {
    font-size: pxToRem(16);
    font-weight: 400;
  }

  &__button-container {
    text-align: right;
  }

  &__button {
    @include button;
    width: pxToRem(40);

    &--left {
      @include button-icon(transparent, var(--clr-black));
    }

    &--right {
      @include button-icon(var(--clr-red), var(--clr-white));
    }
  }
}
